body{
    margin: 0;

}

.image-grid{
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;


    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-grid-col-2{
    grid-column: span 2;
}
.image-grid-row-2{
    grid-row: span 2;
}
/*anything under 1024 px.
@media screen and (max-width:1024px){
    .image-grid{
        --num-cols: 2;
        --row-height: 200px;
    }
}
*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #222362;
    background-size: cover;
    background-position: center;
}
.container.heading{
    width: 50%;
    padding-bottom: 50px;
}
.container .heading h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
}

.container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.container .box .dream img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}
.dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}